.login-panel {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.expanded {
  @extend .login-panel;
  height: 260px;
}

.buttons {
  padding: 0 0 0 7px;
}

.register-link {
  padding: 0 0 0 15px;
}