.language-selector {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.lang {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.lang:hover {
  text-decoration: underline;
  cursor: pointer;
}

.lang.selected {
  font-weight: bold;
}