.assigned-term {
  background: rgba(188, 239, 184, 0.8);
}

.suggested-term {
  background: rgba(239, 207, 184, 0.8);
}

.invalid-term {
  background: rgba(239, 66, 24, 0.8);
}


.pwa-popup-title {
  margin-right: 20px
}

.an-info {
  color: #007bff;
}

.an-warning {
  color: orangered;
}

.an-error {
  color: red;
}

.popover-body {
  background-color: rgba(230, 230, 230,1);
}

.popover-header {
  background-color: rgba(220, 220, 220,1);
}