.dashboard-sector {
  text-align: center;
  vertical-align: middle;
  padding: 0 0.5em;
}

.dashboard-tile {
  min-height: 7em;
  width: 100%;
  max-width: 20em;
  font-size: 1.25rem !important;
  font-weight: 500 !important;
  line-height: 1.3 !important;
  margin: 0.5rem 0;
}

.dashboard-quick-access-tile {
  min-height: 4em;
  width: 100%;
  max-width: 20em;
  font-size: 1.25rem !important;
  line-height: 1.3 !important;
  font-weight: 500 !important;
  margin: 0.5rem 0;
}
