.search-input-container {
  flex-grow: 1 !important;
}

.search-input {
  width: 100% !important;
}

.search-result-container {
  margin-bottom: 1rem;
}

.search-result-assetlink {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.search-result-snippet-match {
  font-weight: bold;
}

.search-result-score-container {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  border: 1px solid #ced4da;
  background: #fff;
  border-radius: 0.25rem;
  width: 100px;
  height: 16px;
}

.search-result-score-bar {
  border-radius: 0.25rem;
  background: #6f42c1;
  height: 14px;
  position: absolute;
  border-right: 1px solid #ced4da;
}