@import "~react-bootstrap-toggle/dist/bootstrap2-toggle.css";

.toggle-custom {
  white-space: nowrap;
}

.toggle-handle-custom {
  background-color: #ffffff !important;
  border-color: rgba(0, 0, 0, 0.125) !important;
}