ul.term-items {
  padding-left: 1.5rem;
}

.term-edit-panel {
  margin-top: 1.25rem;
}

.term-edit-buttons {
  margin-top: 1rem;
}

.term-edit-source-remove {
  margin-left: 0.5rem;
  cursor: pointer;
}

.term-edit-source-add-button {
  z-index: 0 !important;
}

.term-edit .Select-control {
  height: calc(1.8125rem + 2px);
}

.term-edit .Select-placeholder {
  line-height: 1.5;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
}

.term-edit .Select-input {
  height: calc(1.8125rem + 2px);
  line-height: 1.5;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  margin-left: 0;
}