.register-panel {
  width: 840px;
  height: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.modal-content .register-panel {
  bottom: auto;
}

.register-panel-expanded {
  @extend .register-panel;
  height: 320px;
}

.register-form {
  margin-top: 0.5em;
}

.register-buttons {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.register-cancel {
  margin-left: 3.2em !important;
}