.nav-right {
  margin: 0 -15px 0 0;
}

.navbar-dark .nav-menu-user {
  border-left: 2px solid rgba(255, 255, 255, 0.1);
}

.navbar-light .nav-menu-user {
  border-left: 2px solid rgba(0, 0, 0, 0.1)
}

.content {
  min-height: 100%;
  margin-top: 40px;
}

.attribute-label {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  word-break: break-all;
}

.option-label {
  margin-right: 0.5rem;
}

.additional-metadata {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.breadcrumb-bar {
  display: flex;
  flex-wrap: wrap;
  padding: 0.125rem 1rem;
  background: #fff !important;
  margin-bottom: 0;
  border-bottom: none !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.breadcrumbs__separator {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.search-tabs {
  text-align: center;
  margin-top: 0.5em;
}

