html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.relative {
  position: relative;
}

.pull-right {
  float: right;
}

.btn-toolbar {
  & > button {
    margin-left: 0.5rem;
    &:first-child {
      margin-left: 0;
    }
  }
  & > .btn-group {
    margin-left: 0.5rem;
    &:first-child {
      margin-left: 0;
    }
  }
}

.card-header {
  & h5 {
    margin-bottom: 0;
  }
}
